html
	head
		title="Test nybl"
		link(rel='stylesheet', href='https://bootswatch.com/paper/bootstrap.min.css')
	body
		.container
			.jumbotron#body
				h1 #{name} #{surname}
				img(src='data:image/png;base64, #{img}', height='100')
			