include header
.container
	.jumbotron#body
		h1 #{name} #{surname}
		img(src='data:image/png;base64, #{img}', height='100')
	form(action='/find-user' method='post')
		.form-group
			label(for='name') Name:
			input.form-control#name(placeholder='name', name='name', required)
		button.btn.btn-primary(type='submit') search